[submodule "qtutils"]
	path = qtutils
	url = https://github.com/VioletGiraffe/qtutils.git

[submodule "text-encoding-detector"]
	path = text-encoding-detector
	url = https://github.com/VioletGiraffe/text-encoding-detector.git
[submodule "cpputils"]
	path = cpputils
	url = https://github.com/VioletGiraffe/cpputils.git
[submodule "github-releases-autoupdater"]
	path = github-releases-autoupdater
	url = https://github.com/VioletGiraffe/github-releases-autoupdater
[submodule "cpp-template-utils"]
	path = cpp-template-utils
	url = https://github.com/VioletGiraffe/cpp-template-utils
[submodule "image-processing"]
	path = image-processing
	url = https://github.com/VioletGiraffe/image-processing
[submodule "thin_io"]
	path = thin_io
	url = https://github.com/VioletGiraffe/thin_io
