[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=File Commander
Comment=Dual-panel file manager for Linux
Exec=File Commander
Icon=icon.png
Terminal=false
Categories=Office