[Desktop Entry]
Type=Application
Name=File Commander
Comment=Dual-panel file manager
Exec=FileCommander
Icon=file_commander
Terminal=false
StartupWMClass=FileCommander
Categories=System;FileManager;
