[Desktop Entry]
Type=Application
Name=File Commander
Comment=Dual-panel file manager for Linux
Exec=FileCommander
Icon=icon
Terminal=false
Categories=Office;
X-AppImage-Version=60370d1
